{% extends "base.html" %}
{% block content %}

<body>
<h1>Apie projektą</h1>
<p>Šis tinklalapis skirtas greitai ir patogiai surasti žaliuosius konteinerius esančius Vilniaus mieste. Šiuose konteineriuose, galima išmesti:
    • švarias plastiko šiukšles ir pakuotes;
    • popieriaus ir kartono atliekas;
    • švarią stiklo tarą ir stiklines šiukšles bei šukes;
    • buitines atliekas – visas kitas smulkias ir neišrušiuojamas atliekas;</p>
<p>Taip pat kviečiame susipažinti su įvairiais būdais kuriais galite prisidėti prie žalesnės ir švaresnės aplinkos Vilniuje ir visame pasaulyje.</p>
<p>Daugiau informacijos galite gauti aplankę kitas puslapio skiltis arba susisiekę su mumis.</p>

</body>

{% endblock %}