{% extends "base.html" %}
{% block content %}

<body>
<h1>Apie projektą</h1>
<p>Šis tinklalapis skirtas greitai ir patogiai surasti žaliuosius konteinerius esančius Vilniaus mieste. Šiuose konteineriuose priklausomai nuo punkto, galima atvežti įvairias stambias atliekas, žaliasias atliekas – augalus ir medžius. Taip pat nepamirškite daiktų apsikeitimo stotelės kuriose galite pasiimti daiktų palikę bent 1 funkcionuojantį daiktą.</p>
<p>Taip pat kviečiame susipažinti su įvairiais būdais kuriais galite prisidėti prie žalesnės ir švaresnės aplinkos Vilniuje ir visame pasaulyje.</p>
<p>Daugiau informacijos galite gauti aplankę kitas puslapio skiltis arba susisiekę su mumis.</p>

</body>

{% endblock %}